<div class="container-fiuld room">
  <h4 class="pb-4">検索結果：1件</h4>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <% @rooms.each do |room| %>
        <%= link_to room_path(room) do %>
          <div class="room-frame-inner">
            <div class="room-image-out">
              <%= image_tag(room.image_url, width: 100) if room.image? %>
            </div>
            <div class="room-profile">
              <div class="room-profile-name"><%= room.name %></div>
              <div class="room-profile-city"><%= room.address %></div>
              <div class="room-profile-price price-icon"><%= room.price %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <footer class="footer">
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
