<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div><%= link_to "Pote Share", root_path, class: "title mb-2 text-white" %></div>
      <%= render 'layouts/search' %>
      <% if user_signed_in? %>
        <div>
          <div><%= link_to "ルーム登録", new_room_path, class: "text-white" %></div>
          <div><%= link_to "予約済みルーム一覧", reservations_path, class: "text-white" %></div>
          <div><%= link_to "登録済みルーム一覧", user_path(current_user.id), class: "text-white" %></div>
          <div><%= link_to "設定", account_users_path, class: "text-white" %></div>
          <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
        </div>
      <% end %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
